@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --diff-background-color: #222;
    --diff-text-color: #ededed;
    --diff-gutter-insert-background-color: rgba(0, 255, 0, 0.1);
    --diff-gutter-delete-background-color: rgba(255, 0, 0, 0.1);
    --diff-code-insert-background-color: rgba(0, 255, 0, 0.1);
    --diff-code-delete-background-color: rgba(255, 0, 0, 0.1);
  }
}
